body {
    background: black;
    padding: 0px;
    margin: 0px;
}
div#player {
    width: 100vw;
    height: 100vh;
    background: black;
    margin: 0 auto;
    position: fixed;
    #control-sound{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index:1;
        img{
            cursor: pointer;
            width: 50px;
            margin:1rem
        }
    }
    #grid{
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 0;
        top:0;
        left:0;
        transition: all 3000ms ease-in;
        opacity:0;
        #canvas15{
            transition: all 3000ms ease-in;
            position:absolute;
            z-index:1;
            width: 100vw;
            height: 100vh;
        }
        &.gridAppearance{
            opacity:1;
        }
        &.colorGraphPaper{
            background-color: #e6ddd4;
        }
        #canvas16{
            position: absolute;
            left:0;
            top:0%;
            transition: all 1000ms ease-in-out;
            height:0;
            width:100%;
            &.appear{
                height:100%;
            }
            &.bounce{
                height:100%;
            }
        }
    }
}
#wave-container{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-items: center;
    width: 100vw;
    flex-wrap: wrap;
    transform-origin: center center;
    transition: all 1000ms ease-in;
    position:relative;
    &.twelfthEffect{
        transform:scale(1,1) rotate(90deg) translate(0, 0);
        @media (max-width: 768px){
            transform:scale(0.25,2.5) rotate(90deg) translate(0, 0);  
        }
    }
    /* &.thirteenthEffect{
        transform:scale(0.25,2) rotate(90deg) translate(0,0);
    } */
    /* @media (max-width: 768px){
        &.nineteenthEffect{
            transform:scale(0.25,2) rotate(90deg) translate(0,0);
        }
    }*/
   /*  @media (max-width: 768px){
        &.twentyfirstEffect{
            transform:scale(0.5,2) rotate(90deg) translate(0,0);
        }
    } */
    &.twentysecondEffect{
        transform: scale(1, 1) rotate(540deg) translate(0, -25vh);
        @media (max-width: 768px){
                transform: scale(1, 1) rotate(540deg) translate(0, 0vh);
        }
    }
    #couple-container-one/* , #couple-container-two */{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #couple-container-one{
        width:100%;
        transition: all 1000ms ease-in;
        height: 50vh;
        &.withHalf{
            //width:50%;
            transform: scale(1,1) translateX(0) translateY(0%);
            height: 25vh;
            #canvas{
                &.firstEffect{
                    transform: scale(1,1) translateX(0) translateY(0%);
                    @media (max-width: 768px){
                        transform: scale(1,1) translateX(0) translateY(0%);
                    }
                }
                &.thirteenthEffect{
                    transform: scale(1,1) translateX(0%) translateY(0%);
                    @media (max-width: 768px){
                        transform: scale(1,1) translateX(0%) translateY(0%);
                    }
                }
            }
            #canvas2{
                &.firstEffect{
                    transform: scale(1,-1) translateX(0) translateY(0%);
                    @media (max-width: 768px){
                        transform: scale(1,-1) translateX(0) translateY(0%);
                    }
                }
                &.thirteenthEffect{
                    transform: scale(1,-1) translateX(0%) translateY(0%);
                    @media (max-width: 768px){
                        transform: scale(1,-1) translateX(0%) translateY(0%);
                    }
                }

            }

        }
    }
    #canvas, #canvas2{
        transform: scaleX(0.3);
        transition: all 1000ms ease-in;
        border-radius: 40% 40% 0 0;
    }
    #canvas{
        &.firstEffect{
            transform: scaleX(1); 
            &.vanish{
                transform : scaleY(0);
            }
            &.reduceforsixthEffect{
                transform: scaleX(0.5); 
            }
            &.translateforsixthEffect{
                transform: scaleX(0.5) translateX(-50vw);
            }
        }
        &.ninethEffect{
            transform: perspective(150px) rotateX(45deg);
        }
    }
    #canvas2{
        transform: scale(0.3,-1);
        &.firstEffect{
            transform: scale(1,-1); 
            &.vanish{
                transform : scaleY(0);
            }
            &.reduceforsixthEffect{
                transform: scale(0.5,-1); 
            }
            &.translateforsixthEffect{
                transform: scale(0.5,-1) translateX(-50vw);
            }
        }
    }

    #couple-container-three, #couple-container-four, #couple-container-five, #couple-container-six, #couple-container-seven{
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width:0%;
        transform-origin: center center;
        &.seventhEffect {
            width:100%!important;
            #canvas5{
                transform: scale(1,1);
                @media (max-width: 768px){
                    transform: scale(1,1);
                }
                &.fifteenthEffect{
                    transition: all 3000ms ease-in;
                    transform: translateY(-25vw) scale(1,1);
                    @media (max-width: 768px){
                        transform: translateY(-25vw) translateX(0%) scale(1,1);
                    }
                }
                &.sixteenthEffect{
                    transform:skewY(45deg) translateY(-25vw) scale(1,1);
                    @media (max-width: 768px){
                        transform: skewY(45deg) translateY(-25vw) translateX(0%) scale(1,1);
                    }
                }
            }
            #canvas6{
                transform: scale(1,-1);
                @media (max-width: 768px){
                    transform: scale(1,-1);
                }
                &.fifteenthEffect{
                    transition: all 3000ms ease-in;
                    transform: translateY(-25vw) scale(1,-1);
                    @media (max-width: 768px){
                        transform: translateY(-25vw) translateX(0%) scale(1,-1);
                    }
                }
                &.sixteenthEffect{
                    transform:skewY(45deg) translateY(-25vw) scale(1,-1);
                    @media (max-width: 768px){
                        transform: skewY(45deg) translateY(-25vw) translateX(0%) scale(1,-1);
                    }
                }
            }
        }
        &.eighthEffect {
            width:100%!important;
            #canvas7{
                transform: scale(1,1);
                @media (max-width: 768px){
                    transform: scale(1,1);
                }
                &.ninthEffect{
                    transition: all 3000ms ease-in;
                    transform: translateY(25vh) scale(1,1);
                    @media (max-width: 768px){
                        transform: translateY(25vh) scale(1,1);
                    }

                }
                &.fourteenthEffect{
                    transform: translateY(0vh) scale(1,1);
                    @media (max-width: 768px){
                        transform: translateY(0vh) translateX(0%) scale(1,1);
                    }
                }
            }
            #canvas8{
                transform: scale(1,-1);
                @media (max-width: 768px){
                    transform: scale(1,-1);
                }
                &.ninthEffect{
                    transition: all 3000ms ease-in;
                    transform: translateY(25vh) scale(1,-1);
                }
                &.fourteenthEffect{
                    transform: translateY(0vh) scale(1,-1);
                    @media (max-width: 768px){
                        transform: translateY(0vh) translateX(0%) scale(1,-1);
                    }
                }
            }
        }
        &.tenthEffect{
            width:100%!important;
            #canvas9{
                transform: translateY(0vh) scale(0,0);
                &.eleventhEffect{
                    transform: translateY(-25vh) scale(1,1);
                }
                @media (max-width: 768px){
                    transform: translateY(-25vh) scale(1,1);
                }
                &.fifteenthEffect{
                    transition: all 3000ms ease-in;
                    transform: translateY(0vw) scale(1,1);
                    @media (max-width: 768px){
                        transform: translateY(0vw) translateX(0%) scale(1,1);
                    }
                }
                &.seventeenthEffect{
                    transform: skewY(-45deg) translateY(0vw) scale(1,1);
                    @media (max-width: 768px){
                        transform: skewY(-45deg) translateY(0vw) translateX(0%) scale(1,1);
                    }
                }
            }
            #canvas10{
                transform: translateY(0vh) scale(0,0);
                &.eleventhEffect{
                    
                    transform: translateY(-25vh) scale(1,-1);
                }
                @media (max-width: 768px){
                    transform: translateY(-25vh) scale(1,-1);
                }
                &.fifteenthEffect{
                    transition: all 3000ms ease-in;
                    transform: translateY(0vw) scale(1,-1);
                    @media (max-width: 768px){
                        transform: translateY(0vw) translateX(0%) scale(1,-1);
                    }
                }
                &.seventeenthEffect{
                    transform: skewY(-45deg) translateY(0vw) scale(1,-1);
                    @media (max-width: 768px){
                        transform: skewY(-45deg) translateY(0vw) translateX(0%) scale(1,-1);
                    }
                }
            }
        }
        &.twelfthEffect{
            height:auto;
        }
        &.eighteenthEffect{
            width:100vw;
            //transition: all 3000ms ease-in;
            position: absolute;
            left: 0%;
            @media (max-width: 768px){
                left: 0%;
                top: 100%;
            }

            #canvas11{
                transform-origin: center center;
                transform: skewY(-45deg) translateY(0vw) translateX(0%) scale(1,1);
                &.nineteenthEffect{
                    transform: skewY(-45deg) translateY(0vw) translateX(0%) scale(1,1);
                    @media (max-width: 768px){
                        transform: skewY(45deg) translateY(0vw) translateX(0%) scale(1,1);
                    }
                }
            }
            #canvas12{
                transform: skewY(-45deg) translateY(0vw) scale(1,-1);
                transform-origin: center center;
                &.nineteenthEffect{
                    transform: skewY(-45deg) translateY(0vw) scale(1,-1);
                    @media (max-width: 768px){
                        transform: skewY(45deg) translateY(0vw) translateX(0%) scale(1,-1);
                    }
                }
            }
        }
        &.twentieth{
            width:100vw;
            //transition: all 3000ms ease-in;
            position: absolute;
            left: 0%;
            @media (max-width: 768px){
                left: 0%;
                top: 0%;
            }
            #canvas13{
                transform-origin: center center;
                transform: skewY(45deg) translateY(0) translateX(0%) scale(1,1);
                @media (max-width: 768px){
                    transform: skewY(-45deg) translateY(0) translateX(0%) scale(1,1);
                }
                &.twentyfirstEffect{
                    transform: skewY(45deg) translateY(0) translateX(0%) scale(1,1);
                    @media (max-width: 768px){
                        transform: skewY(-45deg) translateY(0) translateX(0%) scale(1,1);
                    }
                }
            }
            #canvas14{
                transform: skewY(45deg) translateY(0) translateX(0%) scale(1,-1);
                @media (max-width: 768px){
                    transform: skewY(-45deg) translateY(0) translateX(0%) scale(1,-1);
                }
                transform-origin: center center;
                &.twentyfirstEffect{
                    transform: skewY(45deg) translateY(0) translateX(0%) scale(1,-1);
                    @media (max-width: 768px){
                        transform: skewY(-45deg) translateY(0) translateX(0%) scale(1,-1);
                    }
                }
            }
        }
    }
    
    hr{
        transition: all 3000ms ease-in;
        width:0%;
        background: #fff;
        margin:0;
        border-top-width: 0;
        &.blue{
            width:200%;
            height:4px;
        }
        &.withHalf{
            width:0%;
            height:4px;
        }
    }
}


#test{
    background-color: #000;
    width:100%;
    height:100%;
    #canvas{
        background-color:#000;
    }
}